body{
  background-color: maroon;
  border: ridge white 5px; 
}

h1{
  color: white;
  font-size: 100px;
  font-family: cursive;
  float: left;
  padding-left: 45px;
  padding-top: 40px;
}

h2, h3{
  color: white;
  font-size: 50px;
  font-family: cursive;
  padding-left: 45px;
}

img{
  height: 200px;
  border: double white 5px;
  border-radius: 200px;
  margin-left: 500px;
  margin-top: 40px;
}

section{
  float: left;
  margin: 40px 10px 40px 5px;
  padding-right: 15px;
}

section:first-of-type{
  border-right: ridge white 5px;
}

hr{
  width: 80%;
  border-top: ridge white;
  margin-top: 15px;
}

#work, #education{
  color: gold;
  font-size: 20px;
  font-family: fantasy;
}

ul{
  color: white;
  font-size: 15px;
  font-family: fantasy;
}

#mystory{
  color: gold;
  font-size: 20px;
  font-family: fantasy;
  padding-block: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

ol li{
  color: white;
  font-size: 15px;
  font-family: fantasy;
  margin-left: 20px;
}

footer{
  color: white;
  text-align: center;
  font-family: cursive;
}