body{
  background-color: maroon;
  border: ridge white 5px; 
}

h1{
  color: white;
  font-size: 100px;
  font-family: cursive;
  float: left;
  padding-left: 45px;
  padding-top: 40px;
}

img{
  height: 200px;
  padding-left: 500px;
  padding-top: 30px;
}

hr{
  width: 80%;
  /* margin: auto; */
  border-top: ridge white;
}

#mystory{
  color: gold;
  font-size: 20px;
  font-family: fantasy;
  padding-block: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

footer{
  color: white;
  text-align: center;
  font-family: cursive;
}